<!-- BEGIN_INCLUDE(mailgun:my-processor) -->
     <mailgun:my-processor from="your@mail.address" to="receiver@mail.address" subject="hello" message="insert-your-message-here" />
<!-- END_INCLUDE(mailgun:my-processor) -->
